<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meet.app.mapper.BizRoomMapper">
  <resultMap id="BaseResultMap" type="com.meet.app.entity.BizRoom">
    <id column="ID" jdbcType="BIGINT" property="id"/>
    <result column="ROOM_NAME" jdbcType="VARCHAR" property="roomName"/>
    <result column="MAX_MEMBERS" jdbcType="BIGINT" property="maxMembers"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    <result column="OWNER_ID" jdbcType="BIGINT" property="ownerId"/>
    <result column="OWNER_NAME" jdbcType="VARCHAR" property="ownerName"/>
    <result column="CREATE_BY" jdbcType="BIGINT" property="createBy"/>
    <result column="CREATE_BY_NAME" jdbcType="VARCHAR" property="createByName"/>
    <result column="IS_AVAILABLE" jdbcType="INTEGER" property="isAvailable"/>
    <result column="ONLINE" jdbcType="INTEGER" property="online"/>
    <result column="ROOM_ID" jdbcType="VARCHAR" property="roomId"/>
    <result column="PUSH_URL" jdbcType="VARCHAR" property="pushUrl"/>
    <result column="PULL_URL" jdbcType="VARCHAR" property="pullUrl"/>
  </resultMap>
  <!-- 以下是自查询定义方法 -->

</mapper>